<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Páginas para mí</title>
</head>
<body><><h1><em>Mi datos</em></h1>
  <header>
    <nav>
      <ul>       
      </ul>
    </nav>
  </header>
    <h2>nombre: Patricio</h2>
    <h2>Apellido: Bustos</h2>
    <h2>Estudiante de diseño web UTN</h2>
    <h3>Soy Patricio, y soy tecnico electrónico, me gusta la fotografía y el dibujo </h3>
    <h4>Saludos a todos </h4>
<section>
  <h2>
  
  </h2>
</section>

    
</body>
</html>